In [19]:
import mysql.connector as connection
import csv
class InsertFileToMysql:
    
    def __init__(self ,dbName,tableName, sourceFile, destFile):
        self.sourceFile = sourceFile
        self.destFile = destFile
        self.dbName=dbName
        self.tableName=tableName
        
    def cleanData(self):
        file_in_list=[]
        with open(self.sourceFile,'r') as file:
            data=csv.reader(file,delimiter="\n")
            for i in data:
                file_in_list.append(i[0].split(';'))
        
        with open(self.destFile,'w',newline='')as data:
            writer=csv.writer(data)
            writer.writerows(file_in_list)
            
    def establishConnection(self,host,user,passwd):
        return connection.connect(host='localhost',user='root',passwd='mysqlserver',use_pure=True)
    
    def createDatabase(self,db,dbName):
        cursor =db.cursor() 
        cursor.execute("create database {}".format(dbName))
        
    def createTable(self,mydb,query):
        cursor =mydb.cursor()
        cursor.execute(query)
        return cursor;
    
    def insertData(self,cursor):
        inserted,not_inserted=0,0
        with open(self.destFile,'r') as data:
        
            next(data)
            data_csv=csv.reader(data,delimiter=';')
            for i in data_csv:
                try:
                    cursor.execute('insert into {}.{} values({});'.format(self.dbName,self.tableName,str(i[0])))
                    #cursor.execute('insert into {}.{} values({});'.format(self.dbName,self.tableName,', '.join([value for value in i])))
                    inserted+=1
                    
                except Exception as e:
                    print('{} not inserted as {}'.format(i[0],str(e)))
                    break
                    not_inserted+=1
                
            return inserted,not_inserted

In [20]:
insertFile = InsertFileToMysql('Bhushan','Carbon_Nanotube','carbon_nanotubes.csv','carbon_updated_nanotubes.csv')

# Clean data

In [21]:
insertFile.cleanData()

# Create DB connection

In [22]:
mydb =insertFile.establishConnection('localhost','root','mysqlserver')

# Create Database

In [23]:
insertFile.createDatabaseCREATE TABLE {}.{} (ChiralindN varchar(10),ChiralindM varchar(10),InitialatomiccoE varchar(10),InitialatomiccoV varchar(10),InitialatomiccoW varchar(10),CalculatedatomiccoU varchar(10),CalculatedatomiccoV varchar(10),CalculatedatomiccoW varchar(10))'.format(insertFile.dbName,insertFile.tableName)(mydb,insertFile.dbName)

In [24]:
query = 'CREATE TABLE {}.{} (ChiralindN varchar(10),ChiralindM varchar(10),InitialatomiccoE varchar(10),InitialatomiccoV varchar(10),InitialatomiccoW varchar(10),CalculatedatomiccoU varchar(10),CalculatedatomiccoV varchar(10),CalculatedatomiccoW varchar(10))'.format(insertFile.dbName,insertFile.tableName)
query

'CREATE TABLE Bhushan.Carbon_Nanotube (ChiralindN varchar(10),ChiralindM varchar(10),InitialatomiccoE varchar(10),InitialatomiccoV varchar(10),InitialatomiccoW varchar(10),CalculatedatomiccoU varchar(10),CalculatedatomiccoV varchar(10),CalculatedatomiccoW varchar(10))'

# Create Table

In [25]:
cursor=insertFile.createTable(mydb,query)

# Insert data into Table

In [26]:
inserted,not_inserted=insertFile.insertData(cursor)
mydb.commit()
print('rows inserted {} \n rows not inserted {}'.format(inserted,not_inserted))

rows inserted 10721
 rows not inserted 0