1. Create a function that takes a list and string. The function should remove the letters in the string from the list, and return the list.

Examples

remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string") ➞ ["w"]

remove_letters(["b", "b", "l", "l", "g", "n", "o", "a", "w"], "balloon") ➞ ["b", "g", "w"]

remove_letters(["d", "b", "t", "e", "a", "i"], "edabit") ➞ []

In [3]:
def remove_letters(l,string):
    for index,i in enumerate(string):
        for j in (l):
            if string[index] == j:
                l.remove(j)
    return l

In [4]:
remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string")

['w']

In [5]:
remove_letters(["b", "b", "l", "l", "g", "n", "o", "a", "w"], "balloon")

['b', 'g', 'w']

In [6]:
remove_letters(["d", "b", "t", "e", "a", "i"], "edabit")

[]

2. A block sequence in three dimensions. We can write a formula for this one:










Create a function that takes a number (step) as an argument and returns the amount of blocks in that step.

Examples

blocks(1) ➞ 5

blocks(5) ➞ 39

blocks(2) ➞ 12

In [15]:
def booboo(n):
     if n == 1 :
        return 1 
     else: 
        return n + booboo(n - 1)


def blocks(step) :
    if step == 0:
        return 0
    else : 
        return booboo(step) + step * 3 + step * 2 - 1

In [17]:
blocks(1)

5

3. Create a function that subtracts one positive integer from another, without using any arithmetic operators such as -, %, /, +, etc.

Examples

my_sub(5, 9) ➞ 4

my_sub(10, 30) ➞ 20

my_sub(0, 0) ➞ 0

In [26]:
def my_sub(x, y):
    if y > x:
        temp=x
        x=y
        y=temp
    if (y == 0):
        return x
    return my_sub(x ^ y, (~x & y) << 1)

In [27]:
my_sub(5,9)

4

In [28]:
my_sub(10, 30)

20

In [29]:
my_sub(0, 0)

0

4. Create a function that takes a string containing money in dollars and pounds sterling (seperated by comma) and returns the sum of dollar bills only, as an integer.

For the input string:

   - Each amount is prefixed by the currency symbol: $ for dollars and £ for pounds.
   - Thousands are represented by the suffix k.

i.e. $4k = $4,000 and £40k = £40,000

Examples

add_bill("d20,p40,p60,d50") ➞ 20 + 50 = 70

add_bill("p30,d20,p60,d150,p360") ➞ 20  + 150 = 170

add_bill("p30,d2k,p60,d200,p360") ➞ 2 * 1000 + 200 = 2200

In [91]:
import re
def add_bill(string):
    a = string.split(",")
    l=[]
    for i in a:
        if "d" in i:
           
                
            num = re.findall(r'\d+', i) 
             
            if "k" in i:
                l.append(int(num[0])*1000)
            else:
                l.append(num[0])
    res =0        
    for index,i in enumerate(l):
        res += int(i)
    return res

In [92]:
add_bill("d20,p40,p60,d50")

70

In [93]:
add_bill("p30,d20,p60,d150,p360")

170

In [94]:
add_bill("p30,d2k,p60,d200,p360")

2200

In [95]:
add_bill("p30,d2k,p60,d200,p360")

2200

5. Create a function that flips a horizontal list into a vertical list, and a vertical list into a horizontal list.

In other words, take an 1 x n list (1 row + n columns) and flip it into a n x 1 list (n rows and 1 column), and vice versa.

Examples

flip_list([1, 2, 3, 4]) ➞ [[1], [2], [3], [4]]
#### Take a horizontal list and flip it vertical.

flip_list([[5], [6], [9]]) ➞ [5, 6, 9]
#### Take a vertical list and flip it horizontal.

flip_list([]) ➞ []

In [96]:
def flip_list(lst):
    if not lst:
        return lst

    is_vertical = isinstance(lst[0], list)
    
    if is_vertical:
        return [el[0] for el in lst]
    
    return [[el] for el in lst]

In [97]:
flip_list([1, 2, 3, 4])

[[1], [2], [3], [4]]

In [98]:
flip_list([[5], [6], [9]])

[5, 6, 9]

In [99]:
flip_list([])

[]